*{
    margin: 0;
    padding: 0;
}


.background{
    height: 80vh;
    width: auto;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(Images/img/pngtree-exam-papers-of-various-subjects-for-a-large-classroom-picture-image_3163803.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.header{
    position: relative;
    padding: 0 2rem;
}

.navbar-container{
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;

}
.toggle-btn{
    margin-top: 2%;
    margin-right: 2%;
    color: white;
    display: none;
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

.navbar li { 
    list-style: none;
}

.navbar .header-links{
    margin-top: 2%;
    display: flex;margin-right: 20%;
    gap: 30px;
}

.navbar{

    width: 100%;
   
}

.navbar a:hover {

    color: #161748;

}


.logo-sec img{ 

    height: 70px;
    width: 200px;
    margin: 20px 60px;
    
}




.banner-text{
   margin-top:10%
}

.banner-text h1{ 
    text-align: center;
    font-size: 50px;
    color: white;

}


.banner-text p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
}

.wrapper{
   
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top:6%


}

.panel { 
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    padding: 2%;
    background-color: #484aaf;
    box-shadow: 8px 8px 20px #3d3d3dc9;
    border-radius: 10px;
    
}
.panel .bi{
    margin-left: 35%;
    width: 70px;
    height: 70px;
    color: white;
    margin-top: 5%;

}
.panel:hover{

}
.panel h1 {
    margin-top: 20%;
    text-shadow: 7px 4px 9px #3d3d3dc9;
    text-align: center;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.925);
    font-weight: 700;

}

.panel:hover{
    
}


.about-us{
    
    margin-top:10%;

    
}

.about-us h1{
  
    color: #484aaf;
    font-size: 70px;
    text-align: center;
    
}
.about-us h3{
  
    color: #000000;
    font-size: 20px;
    text-align: center;
    
}
.about-us p{
    text-align: center;
    font-size: 20px;
}


.desc{
   
    text-align: center;
}



.about-us-img img{
    margin-top: 2%;
    width: 130vh;
    margin-left: 17%;
    border-radius: 7px;


}

.task-desc{
    background-color: #d6d6d663;
    margin-top: 5%;
    padding: 40px 30px;

}

.task-desc h1{
    
    text-align: center;
    font-size: 70px;
    color: #484aaf;

}

.task-desc h3{

    text-align: center;
    font-size: 20px;

}

.task-desc p{

    text-align: center;
    font-size: 20px;
     

}

.task-desc-wrapper{
    margin-top: 1%;
    margin-left: 4%;
    width: 90%;
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
     

}

.bi-card-list{
    margin-top: 20%;
}

.task-desc-panel { 
    font-size: 12px;
    text-align: center;
    padding: 1%;
    justify-content: center;
    margin: 15px;
    width: 230px;
    height: 230px;
    background-color: #ffffffc9;
    font-weight: bold;
    border-radius: 10px;
}


.objektif-section{
    margin-top: 3%;
    display: flex;
    width: 100%;
    
}

.objektif-desc h1{
    color: #484aaf;
    font-size: 70px;
    text-align: center;

}

.objektif-desc h3{
    color: #000000;
    font-size: 20px;
    text-align: center;

}

.objektif-desc p{
    color: #000000;
    font-size: 20px;
    text-align: center;

}

.bi-card-checklist{
    margin-right:74%;
    width: 60px;
    height: 60px;
    margin-top: 20%;

}
.objektif-panel-column{
    margin-top: 1%;
    margin-left: 4%;
    width: 90%;
    justify-content: center;
    position: relative;
    display: flex;
   
     

}


.objektif-panel { 
    
    text-align: center;
    justify-content: center;
    margin: 10px;
    width: 400px;
    height: 350px;
    background-color: #ffffffc9;
    font-weight: bold;
    border-radius: 10px;
    background-color: #3535351e;
}

.objektif-panel h1{ 
    padding: 20px;
    text-align: left;
    font-size: 25px;
}




.objektif-desc{
 width: 100%;
 font-size: 12px;

}

.links{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    text-align: center;
    padding: 10px 120px;
    list-style: none;
    font-weight: bold;
    
}

.links-title h1{

    margin-top: 5%;
    text-align: center;
    font-size: 70px;
    color: #484aaf;

}

.links-title h3{

    text-align: center;
    font-size: 20px;

}

h3::after{
    display: block;
    content:"\A";
    width:80px;
    height:3px;
    background: #161748;
    margin-left: 48%;
    margin-top:20px ;
    margin-bottom: 20px;

}

.links-title p{

    text-align: center;
    font-size: 20px;

}
.links a{
    color: #161748;
    text-decoration: none;
}

.links a:hover{
    color: #484aaf;
}

.footer-section{
    background-color: #484aaf;
    padding: 0 ;
    
}

.ministry-logo {

    color: aliceblue;
    padding: 10px;
    margin: 15px;
    margin-right: 5%;
    
    
}
.ministry-logo img{

    
    padding-left: 20px;
    width: 190px;
    height: 70px;
    
}

.inner-footer{
    width: 100%;
    height: 43%;
    display: flex;
    justify-content: space-between;



}

.contact-us{
    font-family: 'calibri';
    font-weight: bold;
    padding-top: 1%;
    color: aliceblue;
    margin-left: 3%;
    padding-bottom: 1%;
}

.copyright {
   
    margin-top: 10%;   
    background-color: rgba(22, 22, 22, 0.541);
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-family: 'calibri';
       
}

/*mobile-menu */
.mobile-menu{
    
    position:absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175,0.885,0.32,1.275);
}

.mobile-menu.open{
    height: 240px;
} 

.mobile-menu li{
    padding: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width:480px) and (max-width:767px) {

    *{
       margin: 0;
       padding: 0;
    }

.background{
 width: auto;
 height: 40vh;
}

.logo-sec img{
    margin-top: 1%;
    margin-left: 5%;
    width: 80px;
    height: 40px;

}

.toggle-btn{
    display: block;
}
.mobile-menu{
    display: block;
    
}


.navbar .header-links{
    
    display: none;
    
}


.banner-text h1{
text-transform: uppercase;
   font-size: 20px;
   text-align: center;
}

.banner-text h2{
    text-transform: uppercase;
   font-size: 30px;
   text-align: center;
}

.banner-text p{
    text-transform: uppercase;
   font-size: 10px;
   text-align: center;
}

.wrapper{
   min-width: 90%;
   display: flex;
   flex-wrap: wrap;
   margin-top: 15%;
  

    
}

.panel{
    padding: 2%;
    margin: 2px;
    width: 90px;
    height: 90px;
    border-radius: 5px;

}

.panel .bi{
    margin-left: 38%;
    width: 20px;
    height: 20px;
}

.panel h1{
    margin-top: 10%;
    font-size: 8px;
    padding: 0;
    text-align: center;
   

}

.about-us{

    display: none;
}

.objektif-section{
    display: none;
}
.links-title h1{
    margin-top: 33.2% ;
    text-align: center;
    font-size: 20px ;
    
}

.links-title p{
    
    text-align: center;
    font-size: 10px ;
    font-weight: lighter;
    
}

.link p{
    padding: 0;
    margin: 0;
    font-size: 5px;
}
.links{
    
    justify-content: center;
    padding: 10px;
    
}

h3::after{
    display: block;
    content:"\A";
    width:21px;
    height:3px;
    background: #484aaf;
    margin-left: 48%;
    margin-top:1px;
    margin-bottom: 1px;

}

.footer-section{
    margin-top: 7.6%;
    padding: 0;
    width: 100%;
    position: relative;
    
}

.ministry-logo{
   margin: 0;
}
.ministry-logo img{
    margin-top: 1%;
    width: 100px;
    height: 30px;
    
}


.contact-us{
    font-size: 5px;
}
.contact-us h5{
    font-size: 7px;
}
.contact-us h6{
    font-size: 7px;
}
   
  }
 @media screen and (width : 365px){
    *{
        margin: 0;
        padding: 0;
     }
 
 .background{
  width: auto;
  height: 35vh;
 }

 .navbar-container .mobile-menu{
    left:2rem;
    width: unset;
 }
 
 .logo-sec img{
     margin-top: 1%;
     margin-left: 5%;
     width: 80px;
     height: 40px;
 
 }
 
 
 .navbar .header-links{
     
     display: none;
     
 }
 
 
 .banner-text h1{
 text-transform: uppercase;
    font-size: 20px;
    text-align: center;
 }
 
 .banner-text h2{
     text-transform: uppercase;
    font-size: 10px;
    text-align: center;
 }
 
 .banner-text p{
     text-transform: uppercase;
    font-size: 5px;
    text-align: center;
 }
 
 .wrapper{
    width: auto;
    margin:0;
    display: flex;
    flex-wrap: wrap;
     
 }
 
 .panel{

     padding: 1%;
     margin: 2px;
     min-width: 65px;
     height: 65px;
     border-radius: 0px;
     margin-top: 20px;
 
 }

 .panel .bi{
    margin-left: 37%;
    width: 16px;
    height: 16px;
}
 
 .panel h1{
     margin-top: 15%;
     font-size: 6px;
     padding: 1px;
     text-align: center;
    
 
 }
 
 .about-us{
 
     display: none;
 }
 
 .objektif-section{
     display: none;
 }
 .links-title h1{
    margin-top:57.5%;
     text-align: center;
     font-size: 20px ;
     
 }
 
 .links-title p{
     
     text-align: center;
     font-size: 10px ;
     
 }
 .bi{
     width: 20px;
     height:20px;
 }
 .link p{
     padding: 0;
     
     font-size: 5px;
 }
 .links{
     justify-content: center;
     padding: 10px;
     
 }
 
 h3::after{
    display: block;
    content:"\A";
    width:21px;
    height:3px;
    background: #484aaf;
    margin-left: 48%;
    margin-top:0.5px;
    margin-bottom: 0.5px;
    text-shadow:10px 10px 10px #000000;

}

 
 .footer-section{
     margin-top: 0%;
     padding: 0;
     width: 100%;
     
 }
 
 .ministry-logo{
    width: auto;
    display: flex;
    
 }
 .ministry-logo img{
 
     width: 70px;
     height: 25px;
     
 }
 
 

 .contact-us h5{
    padding: 2px;
    font-size: 5px;
 }
 .contact-us h6{
    font-size: 5px;
 }
 .copyright p{
    font-size: 5px;
    margin: 0;
    padding: 0;
 }
    
   }

 


